{
  "extends": "@lasalefamine/eslint-config-base",
  "parserOptions": {
    "project": "tsconfig.eslint.json"
  },
  "ignorePatterns":["*.spec.js"],
  "rules": {
    "@typescript-eslint/no-var-requires": 0
  }
}
